.open-trail {
  margin: auto;
  width: 75%;

  #map {
    height: 500px !important;

    .popup {
      color: #27272a;
    }
  }

  &.blog {
    table {
      border-collapse: collapse;

      th, td {
        border: 1px solid grey;
        padding: 0 1em;
      }
      
      th {
        font-weight: bold;
      }
    }
  }
}
